!!!
html
  head
    title= title
    link(rel='stylesheet', href='/styles/style.css')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/scripts/main.js')
  body!= body
